* {
  background-color: #F2F6FF;
  font-weight: bolder;
  font-family: monospace;
}

.board {
  position: relative;
  margin: 0 auto;
  background-color: #1A2151;
  /* display: block; */
  background-image:
    linear-gradient(#F2F6FF 1px, transparent 1px),
    linear-gradient(90deg, #F2F6FF 1px, transparent 1px);
  border-radius: 10px;
}

.button {
  margin-left: 12px;
  cursor: pointer;
  background-color: #3913B8;
  border: #F2F6FF;
  border-radius: 10px;
  -webkit-box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.75);
  width: 122px;
  height: 44px;
  color: white;
  font-size: 15px;
}

.input {
  margin-top: 20px;
  margin-left: 12px;
  cursor: pointer;
  border: #F2F6FF;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.75);
  width: 122px;
  height: 22px;
  color: black;
  font-size: 15px;
}

.rules {
  margin: 0 auto;
}

.controls {
  text-align: center;
  margin-top: 20px;
  color: black;
  font-size: 15px;
}